0{margin: :0;padding: 0}
body{background-color: #cccccc}
a{text-decoration: none;padding: 10px;color: #094daa}
a:hover{background-color: #058b8b}
img{border-radius: 50%;width: 150px;height: 150px}
.ta th {background-color: black;color: white}
td {margin-right: 150px:pading:0}
